name: Gaming RDP + Ryujinx
on:
  workflow_dispatch:

jobs:
  rdp-gaming:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
    # -----------------------------
    # PERFORMANCE BOOST
    # -----------------------------
    - name: Performance Tweaks
      shell: powershell
      run: |
        powercfg -duplicatescheme e9a42b02-d5df-448d-aa00-03f14749eb61
        powercfg -setactive e9a42b02-d5df-448d-aa00-03f14749eb61

    # -----------------------------
    # ENABLE RDP
    # -----------------------------
    - name: Enable RDP
      shell: powershell
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' `
          -Name 'fDenyTSConnections' -Value 0 -Force
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Restart-Service TermService -Force

    # -----------------------------
    # CREATE USER
    # -----------------------------
    - name: Create RDP User
      shell: powershell
      run: |
        $password = "Hamid@12345"
        $securePass = ConvertTo-SecureString $password -AsPlainText -Force

        if (-not (Get-LocalUser -Name "Gamer" -ErrorAction SilentlyContinue)) {
          New-LocalUser -Name "Gamer" -Password $securePass -AccountNeverExpires
        }

        Add-LocalGroupMember -Group "Administrators" -Member "Gamer" -ErrorAction SilentlyContinue
        Add-LocalGroupMember -Group "Remote Desktop Users" -Member "Gamer" -ErrorAction SilentlyContinue

        echo "PASS=$password" >> $env:GITHUB_ENV

    # -----------------------------
    # INSTALL TAILSCALE
    # -----------------------------
    - name: Install Tailscale
      shell: powershell
      run: |
        Invoke-WebRequest "https://pkgs.tailscale.com/stable/tailscale-setup-latest-amd64.msi" -OutFile "ts.msi"
        Start-Process msiexec.exe -ArgumentList
