name: RDP

on:
  workflow_dispatch:

jobs:
  rdp-job:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      # ------------------------------------------------------------
      # FREE UP DISK SPACE
      # ------------------------------------------------------------
      - name: Free Up Disk Space
        shell: powershell
        run: |
          Write-Host "Disk Before Cleanup:"
          Get-PSDrive C | Select-Object Used, Free

          if (Test-Path "C:\Android") {
            Remove-Item -Path "C:\Android" -Recurse -Force
          }

          if (Test-Path "C:\hostedtoolcache\CodeQL") {
            Remove-Item -Path "C:\hostedtoolcache\CodeQL" -Recurse -Force
          }

          if (Test-Path "C:\hostedtoolcache\Python") {
            Get-ChildItem "C:\hostedtoolcache\Python" | Where-Object { $_.Name -notlike "*3.12*" } | Remove-Item -Recurse -Force
          }

          Remove-Item "$env:TEMP\*" -Recurse -Force -ErrorAction SilentlyContinue
          Remove-Item "
